/*Logo Design*/
h1 {
    display: inline-block;
    font-size: 70px;
    color: blue;
    padding-left: 5%;
}
.homepage {
    font-size: 75px;
    color: orange;
    background-color: black;
    
button:hover {
    display: inline-block;
    background-color: gray;
}
button {
    padding-left: 5%;
}
/*footer*/
.copyright {
    clear: right;
}
