/*Logo Design*/
h1 {
    text-align: right;
    font-size: 60px;
    color: blue;
    padding-right: 30%;
}
.homepage {
    text-align: left;
    font-size: 65px;
    color: orange;
    background-color: black;
    padding-right: 10%
}
