/*Logo Design*/
h1 {
    display: inline-block;
    font-size: 60px;
    color: blue;
    padding-right: 60%;
}
.homepage {
    font-size: 65px;
    color: orange;
    background-color: black;
    
button:hover {
    display: inline-block;
    background-color: gray;
}

}
/*footer*/
.copyright {
    clear: right;
}
