/*Global*/
body {
  background-color: #686868;
  min-width: 0;
}
div {
  padding: 5px;
}
main {
  min-width: 10px;
  max-width: 600px;
  margin: 0 auto;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  min-width: none;
}

/*Grid*/
.grid-container {
  display: grid;
  grid-template-areas: 
  "header header header" 
  "main main main" 
  "footer footer footer";
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: auto auto 5px;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: main;
}
.item3 {
  grid-area: footer;
}
img {
  min-width: 10px;
  display: block;
  margin: 0 auto;
}

/*Logo*/
.logo-one {
  width: 550px;
  min-width: 100px;
  max-width: 100%;
  height: 50px;
  background-color: #0039a6;
  border-radius: 999px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.logo-two {
  width: 550px;
  min-width: 100px;
  max-width: 100%;
  height: 50px;
  background-color: #0039a6;
  border-radius: 999px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.div1 {
    position:relative;
    z-index: 0;
}
.div1 a {
    text-decoration: none;
}
header {
  background-color: #A8A8A8;
  position:relative;
  z-index: 0;
  padding: 30px;
  min-width: 0;
}
header a {
  text-decoration: none;
}
.homepage-r-small {
  font-size: 60px;
  min-width: 0;
  font-family: arsenal;
  color: orange;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
}    
.homepage-r-small:hover {
  background-color: gray;
}
/*R big*/
.homepage-r {
    font-size: 98px;
    min-width: 0;
    font-family: arsenal;
    color: orange;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: black;
    border-radius: 10px;
}    
.homepage-r:hover {
    background-color: gray;
}
.homepage-m {
  display: inline-block;
  font-size: 75px;
  min-width: 0;
  font-family: Radley;
  color: #0039a6;
  padding-left: 3px;
}
.homepage-o {
  display: inline-block;
  font-size: 75px;
  min-width: 0;
  font-family: Comic Sans;
  color: gray;
}
.search-bar {
  float: right;
  min-width: 10px;
  max-width: 600px;
  height: 20px;
  background-color: #D3D3D3;
  border-radius: 999px;
  padding-left: 25px;
}
#about-us {
  font-size: 14px;
  text-decoration: underline;
  color: black;
  border-right: solid;
  padding-right: 5px;
}
#specs {
  font-size: 14px;
  text-decoration: underline;
  color: black;
  border-right: solid;
  padding-left: 5px;
  padding-right: 5px;
}
#features {
  font-size: 14px;
  text-decoration: underline;
  color: black;
  border-right: solid;
  padding-left: 5px;
  padding-right: 5px;
}
#munchkin {
  font-size: 14px;
  text-decoration: underline;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-right: solid;
}
#price-inquiry {
  font-size: 14px;
  text-decoration: underline;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

/*heading*/
form {
  width: auto;
}
.heading {
  background-color: gray;
  padding: 5px;
  border: solid;
  border-width: 4px;
  border-color: black;
}
.formh1 {
  text-align: center;
}
h1 {
  color: #0039a6;
}
p {
  color: #0039a6;
}
#title {
  text-align: center;
}
/*content*/
.content{
  padding: 10px;
}

/*homepage styles*/
/* Slideshow container */
.slideshow-container {
  max-width: 610px;
  position: relative;
  margin: auto;
  background-color: #0039a6;
  border: solid;
}
.mySlides {
  width: 600px;
  display: block;
  text-align: center;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slide-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.homemunchkin {
  font-size: 20px;
}
#munchdes {
  text-align: left;
}
.homeother {
  text-align: center;
}
.homemunchkin img{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  width: 500px;
}
#homeimgbrain {
  padding-left: 75px;
}
.homebrain {
  display: inline-block;
  text-align: left;
  padding-left: 165px;
  color: black;
}
.homesensor1 { 
  display: inline-block;
  text-align: center;
  padding-left: 360px;
  color: black;
}
.homemotor1 {
  display: inline-block;
  text-align: right;
  padding-left: 370px;
  color: black;
}

/*About Us*/
.aboutushead {
  color: orange;
  text-align: center;
  font-size: 80px;
  text-decoration: underline;
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: gray;
  border-width: 5px;
}
#tcdbuilding {
  display: block;
  text-align: center;
  width: 800px;
}
.backinfo {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 20px;
}
.backinfo2 {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 20px;
  border-bottom: solid;
  border-color: gray;
  border-width: 5px;
}
.contactus {
  color: orange;
  font-size: 50px;
  padding-left: 50px;
  text-align: left;
}
.contactnumber {
  padding-left: 50px;
  color: orange;
  float: left;
}
.contactpernumber {
  color: orange;
  float: right;
  padding-right: 1300px;
}
.contactemail {
  padding-top: 5px;
  padding-left: 50px;
  color: orange;
  float: left;
}
.contactperemail {
  padding-top: 5px;
  color: orange;
  float: right;
  padding-right: 1354px;
}
.contactfacility {
  padding-top: 30px;
  padding-left: 50px;
  float: left;
  color: orange;
}

/*Feature styles*/
.featuresheader {
  color: black;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
.featuresmain {
  border: none;
  max-width: none;
}
.headiv {
  border-bottom: solid;
  max-width: none;
  border-color: #0039a6;
  border-width: 5px;
}
.featuresdes1 {
  color: #A8A8A8;
  padding-top: 20px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}
.featuresdes2 {
  color: #A8A8A8;
  padding-top: 20px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}
.featuresmain img{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  width: 500px;
  max-height: 350px;
}

/*Form Styles*/
/*Full Name*/
.required1 {
  border-bottom: solid;
  padding-bottom: 30px;
}
#name-label{
  color: orange;
}
input[type="text"] {
  float: right;
}
/*Email*/
#email-label {
  color: orange;
}
input[type="email"] {
  float: right;
}
/*Phone Number*/
#phone-number {
  color: orange;
}
input[type="tel"] {
  float: right;
}

/*Price dropdown*/
label[for="dropdown"] {
  text-decoration: underline;
  color: orange;
  display: block;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
select {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.price-range {
  padding-bottom: 10px;
}
/*version wanted*/
.version {
  border-bottom: solid;
  padding-bottom: 10px;
}
label[for="version"] {
  color: orange;
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
}
/*Version wanted Label*/
label[for="Beta"]{
  padding: 20px;
}
label[for="Finished"]{
  padding: 20px;
}
label[for="Altered"]{
  padding: 20px;
}
textarea{
  min-width: 20px;
  max-width: 300px;
  display: block;
  padding-bottom: 15px;
}
/*Favorite Subject Radio*/
input[type="radio"]{
  float: right;
  padding-left: 20px;
  width: 40px;
}
/*Updated Image*/
label[for="updated-image"] {
  color: #0039a6;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}
#recentmunch {
  width: 450px;
}
/*Agreement Label*/
label[for="agreement"] {
  color: orange;
  text-align: center;
  font-size: 14px;
}
label[for="agree1"] {
  padding: 20px;
  color: black;
}
label[for="agree2"] {
  padding: 20px;
  color: black;
}
label[for="disagree"] {
  padding: 20px;
  color: black;
}
/*Favorite Color Checkbox*/
input[type="checkbox"] {
  float: right;
  padding-left: 20px;
  width: 40px;
}
/*Any Other Favorites*/
label[for="text"] {
  color: orange;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Submit*/
button {
  display: block;
  margin: 0 auto;
}
#submit {
  color:  #0039a6;
}

/*footer*/
footer {
  clear: both;
  display: block;
  text-align: center;
}


/* for-phone-only */
@media only screen and (max-width: 599px) {}
/* for-tablet-portrait-up */
@media only screen and (min-width: 600px) {}
/* for-tablet-portrait-only */
@media only screen and (min-width: 600px) and (max-width: 899px) {}
/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) {}
/* for-tablet-landscape-only */
@media only screen and (min-width: 900px) and (max-width: 1199px) {}
/* for-desktop-up */
@media only screen and (min-width: 1200px) {}
/* for-desktop-only */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {}
/* for-big-desktop-up */
@media only screen and (min-width: 1800px) {}

@media (max-width: 599px) {
body {
  font-size: 20px;
}
.search-bar{
    height: auto;
}
img {
  max-width: 350px;
}
div {
  padding: 0;
}
h2 {
  text-align: center;
}
.grid-container {
  grid-template-rows: auto auto 10px;
}
#munchdes {
  text-align: center;
}
#homeimgbrain {
  padding-left: 30px;
}
.homemunchkin img {
  padding: 0px;
  max-width: 100px;
}
.homebrain {
  padding-left: 25px;
  font-size: 8px;
}
.homesensor1 {
  padding-left: 8px;
  font-size: 8px;
}
.homemotor1 {
  padding-left: 20px;
  font-size: 8px;
}
.homemunchkin {
  font-size: 10px;
  padding: 0;
}
.homemunckin p {
  padding: 10px;
}
.backinfo {
  text-align: center;
}
.backinfo2 {
  text-align: center;
}
.contactpernumber {
  text-align: center;
  float: left;
  padding-left: 50px;
  padding-right: 0;
}
.contactemail {
  text-align: center;
  padding-top: 0;
}
.contactperemail {
  text-align: center;
  float: left;
  padding-top: 0;
  padding-left: 50px;
  padding-right: 0;
}
.mySlides {
  width: 395px;
}
}
.contactfacility{
  text-align: center;
  padding-top: 0;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
